<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto'
          rel='stylesheet' type='text/css' />
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
          crossorigin="anonymous">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <style>
        .headText {
            background: rgb(0, 3, 36);
            background: linear-gradient(90deg, rgba(0, 3, 36, 1) 0%, rgba(9, 121, 97, 1) 54%, rgba(0, 212, 255, 1) 100%);
            color: white;
        }
    </style>
    <script>
        $(document).ready(
            function () {
                $.ajax({
                    type: "GET",
                    url: "/employee",
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Accept", "application/json");
                        xhr.setRequestHeader("Content-Type", "application/json");
                    },
                    success: function (response) {
                        var employees = response.content;
                        console.log(employees);
                        var employeeTable = $('#employee');
                        employeeTable.find("tbody tr").remove();
                        for (var j = 0; j < employees.length; j++) {
                            var noOfEmp = document.getElementById("noOfEmp");
                            noOfEmp.innerHTML = employees.length-1;
                            employeeTable.append("<tr><td>" + j + "</td><td>"
                                + employees[j].employeeName + "</td><td>"
                                + employees[j].grade + "</td><td>"
                                + employees[j].address + "</td><td>"
                                + employees[j].mobile + "</td><td>"
                                + employees[j].account.accountNumber + "</td>");
                        } //console.log("success response");
                    },
                    error: function (e) {
                        console.log("ERROR: ", e);
                    }
                });
            });
        function renderSalaryData() {
            $.ajax({
                type: "GET",
                url: "/salary",
                dataType: 'json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Accept", "application/json");
                    xhr.setRequestHeader("Content-Type", "application/json");
                },
                success: function (response) {
                    var salary = response;
                    console.log(salary);
                    //console.log("success response");
                },
                error: function (e) {
                    console.log("ERROR: ", e);
                }
            });
        }
        renderSalaryData();
    </script>
</head>
<body>
<div>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3 headText" href="/">Company name</a>
        <nav class="navbar navbar-expand-sm">

            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/employeeInfo">Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/companyInfo">Company Account Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/disbursement">Salary Disbursement</a>
                </li>
            </ul>

        </nav>
    </nav>
</div>
<div class="container-fluid">
    <div class="col-12 inner-wraper">
        <div class="col-12 p-0">
            <div class="pageTitle text-left">
                <h4 class="mb-n1 text-center">Employee Info</h4>
            </div>
            <a class="btn-primary p-2 m-3 " th:href="@{/employee/add}" >Add Employee</a>
        </div>
        <div class="col-12 pt-2">
            <table id="employee" class="table table-striped table-bordered" style="width:100%">
                <thead class="thead-dark">
                <tr>
                    <th>Sl No</th>
                    <th>Employee Name</th>
                    <th>Grade/Rank</th>
                    <th>Address</th>
                    <th>Mobile No</th>
                    <th>Bank Account No</th>
                </tr>
                </thead>
                <tbody>
                <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-12">
    <div>
        <label class="font-weight-bold"> Total Employee: </label>
        <span id="noOfEmp"></span>
    </div>
</div>
</body>
</html>